/* font-weight: bold=700 medium=500 regular=400 */
body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

html { -webkit-box-sizing: border-box; box-sizing: border-box; }
*, *::before, *::after { -webkit-box-sizing: inherit; box-sizing: inherit; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-style-type {
  list-style: none;
	list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7); /* support: IE10, see #8844 */
  margin: 0;
  padding: 0;
}

.underline {
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.main-page .site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url("../img/ice-cream-back-1-temp.png");
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
  -o-transition: background-image 0.5s ease, background-color 0.5s ease;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.inner-page .site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
}

.main-page .site-wrapper::before,
.main-page .site-wrapper::after {
  content: "";
  visibility: hidden;
}

.main-page .site-wrapper::before {
  background-image: url("../img/ice-cream-back-2-temp.png");
}

.main-page .site-wrapper::after {
  background-image: url("../img/ice-cream-back-3-temp.png");
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.main-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 25px;
}

.header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: 154px;
  height: 64px;
  margin-right: 10px;
  margin-top: 9px;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 675px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.site-nav-item {
  position: relative;
}

.site-nav a,
.dropdown-header {
  display: block;
  padding: 8px 14px;
  padding-bottom: 6px;
}

.site-nav a:focus,
.site-nav-item:hover a {
  color: #333333;
  background-color: #f7f5f3;
  border-radius: 16px;
}

.site-nav-item a:active {
  -webkit-box-shadow: inset 0px 2px 1px #696868;
          box-shadow: inset 0px 2px 1px #696868;
  background-color: #ededed;
}

.site-nav-active a {
  color: #ffffff;
  background-color: #cf6f57;
  border-radius: 16px;
}

.site-nav-active .underline {
  border: none;
}

.dropdown-menu-wrapper {
  display: none;
  position: absolute;
  left: -7px;
  padding-top: 10px;
  z-index: 1;
}

.dropdown-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px rgba(0,0,0,0.4);
          box-shadow: 0px 20px 20px rgba(0,0,0,0.4);
  background-color: #f7f7f3;
}

.site-nav-item:hover .dropdown-menu-wrapper {
  display: block;
}

.dropdown-header::before {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 10%;
  width: 80%;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.dropdown-item a,
.dropdown-header {
  white-space: nowrap;
  color: #323232;
  border: none;
  border-radius: 0px;
  background-color: transparent;
  padding: 6px 20px;
  margin: 3px 0px;
}

.dropdown-header {
  position: relative;
  font-weight: 700;
  padding-bottom: 12px;
}

.dropdown-item a:hover,
.dropdown-item a:focus {
  background-color: #fbddd7;
  border-radius: 0px;
}

.dropdown-item a:active {
  background-color: #f6b4a4;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0px;
}

.dropdown-item.active a{
  color: #ffffff;
  background-color: #cf6f57;
  border-radius: 0px;
}

.main-search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-left: auto;
  margin-top: 5px;
}

.nav-button.search {
  font-size: 0;
  width: 32px;
  height: 32px;
  background-image: url("../img/loupe-white.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.search:hover,
.search:focus {
  background-image: url("../img/loupe.svg");
}

.main-search:hover .popup-wrapper,
.user-nav-login:hover .popup-wrapper,
.user-nav-cart:hover .popup-wrapper {
  display: block;

}

.user-nav-login,
.user-nav-cart {
  position: relative;
}

.user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
}

.nav-button {
  font: inherit;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-align: left;
  padding: 8px 16px;
  color: #ffffff;
  background-color: rgba(255,255,255,0.2);
  border-width: 0px;
  border-radius: 16px;
  outline: none;
}

.nav-button:hover,
.nav-button:focus,
.is-full {
  color: #323232;
  background-color: #f7f7f3;
}

.login,
.cart {
  position: relative;
  min-width: 118px;
  padding-left: 45px;
  margin-left: 9px;
}

.login {
  min-width: auto;
}

.cart::before,
.is-full::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 21px;
  height: 20px;
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart:hover::before,
.cart:focus::before,
.is-full::before {
  background-image: url("../img/basket-red.svg");
}

.login::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 21px;
  height: 19px;
  background-image: url("../img/entrance-white.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login:hover::before,
.login:focus::before {
  background-image: url("../img/entrance.svg");
}

.main-contacts {
  position: absolute;
  right: 27px;
  top: 72px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 700;
  text-align: right;
  margin-left: auto;
}

.main-contacts .tel{
  font-size: 22px;
  line-height: 24px;
  margin-top: 4px;
}

.main-contacts p {
  margin: 0;
  padding: 0;
}

.slider {
  position: relative;
  margin-top: 320px;
  text-align: center;
  margin-bottom: 42px;
}

.slide {
  display: none;
}

.slider-item {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  width: 700px;
  margin: 0 auto;
}

.slider-item p {
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
}

.slider-controls {
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 1;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  vertical-align: top;
  width: 21px;
  height: 21px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover {
  background: rgba(255,255,255,0.4);
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/ice-cream-back-1-temp.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/ice-cream-back-2-temp.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/ice-cream-back-3-temp.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.button {
  display: inline-block;
  vertical-align: top;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 22px;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  border: none;
  -webkit-box-shadow: 0px 2px 2px rgba(171,16,0,0.64);
          box-shadow: 0px 2px 2px rgba(171,16,0,0.64);
  background: #f26843;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f16843));
  background-image: -webkit-linear-gradient(bottom, #e74a35 0%, #f16843 100%);
  background-image: -o-linear-gradient(bottom, #e74a35 0%, #f16843 100%);
  background-image: linear-gradient(0deg, #e74a35 0%, #f16843 100%);
  cursor: pointer;
}

.slider-item .button {
  font-size: 32px;
  line-height: 44px;
  padding: 10px 40px;
  text-shadow: 0px 2px 5px rgba(159,31,10,0.76);
  border-radius: 50px;
}

.button:focus,
.button:hover {
  outline: none;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f58569), to(#ec6f5e));
  background-image: -webkit-linear-gradient(bottom, #f58569 0%, #ec6f5e 100%);
  background-image: -o-linear-gradient(bottom, #f58569 0%, #ec6f5e 100%);
  background-image: linear-gradient(0deg, #f58569 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0px 2px 2px rgba(159,31,10,1);
          box-shadow: 0px 2px 2px rgba(159,31,10,1);
}

.button:active {
  -webkit-box-shadow: inset 0px 2px 2px rgba(159,31,10,1);
          box-shadow: inset 0px 2px 2px rgba(159,31,10,1);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f16843), to(#e74a35));
  background-image: -webkit-linear-gradient(bottom, #f16843 0%, #e74a35 100%);
  background-image: -o-linear-gradient(bottom, #f16843 0%, #e74a35 100%);
  background-image: linear-gradient(0deg, #f16843 0%, #e74a35 100%);
}

.sale-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.sale-item {
  width: 560px;
  padding: 16px 18px 24px;
  border-radius: 15px;
}

.sale-item h3 {
  margin: 0;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin-bottom: 15px;
}

.sale-item p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: 0.05px;
  margin-bottom: 44px;
}

.sale-item .button {
  float: right;
  margin-right: 2px;
  padding: 10px 24px;
  padding-bottom: 12px;
}

.sale-list .sale-item:nth-of-type(1) {
  background: #911b2d url("../img/raspberry.jpg") no-repeat;
}

.sale-list .sale-item:nth-of-type(2) {
  background: #503225 url("../img/chocolate.jpg") no-repeat;
}

.hit-list,
.catalog-list  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hit-item,
.catalog-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 267px;
  margin-right: 26px;
  margin-bottom: 36px;
}

.hit-item img,
.catalog-item img {
  border-radius: 50%;
}

.hit-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  background: url("../img/hit.svg") no-repeat 0 0;
  z-index: 4;
}

.hit-item:nth-child(4n),
.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.hit-item .preview,
.catalog-item .preview {
  position: relative;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  z-index: 1;
}

.hit-item p,
.catalog-item p {
  position: absolute;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 0.5px 0.866px 3px rgba(49,50,53,0.5);
  bottom: 0;
  margin: 0;
  padding: 14px 0px;
}

.preview .sub {
  position: relative;
  font-size: 30px;
  padding-left: 35px;
}

.preview .sub::before {
  content: "";
  display: inline-block;
  vertical-align: top;
  position: absolute;
  bottom: 3px;
  left: 3px;
  width: 31px;
  height: 36px;
  background: url("../img/ruble.svg") no-repeat 0 0;
}

.hit-item h3,
.catalog-item h3 {
  width: 100%; /* fix ie11 */
  font: inherit;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 8px;
}

.hit-item-wrap,
.catalog-item-wrap {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -8px;
  bottom: -78px;
  left: -10px;
  right: -10px;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.2);
  -webkit-box-shadow: 0px 20px 20px rgba(0,0,0,0.4);
          box-shadow: 0px 20px 20px rgba(0,0,0,0.4);
  z-index: 2;
}

.hit-item-wrap .button,
.catalog-item-wrap .button {
  margin-bottom: 20px;
  padding: 10px 17px;
}

.hit-item:hover .hit-item-wrap,
.catalog-item:hover .catalog-item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hit-item:hover .preview,
.catalog-item:hover .preview,
.hit-item:hover h3,
.catalog-item:hover h3 {
  z-index: 3;
}

.features {
  padding: 24px 20px;
  padding-bottom: 16px;
  margin-bottom: 40px;
  border-radius: 15px;
  color: #323232;
  background: #ecdfc4 url("../img/wafer.jpg") no-repeat;
}

.features p {
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features-item {
  width: 540px;
  font-weight: 400;
  position: relative;
  padding: 11px 0px;
  padding-left: 58px;
}

.features-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 49px;
  height: 49px;
}

.feature-ice-cream::before {
  background: url("../img/ice-cream.svg") no-repeat 0 0;
}

.feature-cow::before {
  background: url("../img/cow.svg") no-repeat 0 0;
}

.feature-eco::before {
  background: url("../img/eco.svg") no-repeat 0 0;
}

.feature-thermometer::before {
  background: url("../img/thermometer.svg") no-repeat 0 0;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.wrapper > * {
  width: 560px;
}

.blog {
  padding: 20px;
  border-radius: 15px;
  color: #323232;
  background: #ffffff url("../img/blog.jpg") no-repeat;
}

.blog p {
  padding: 4px 0px;
  margin: 0;
}

.blog h1 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  width: 290px;
  padding: 0;
  margin: 0;
}

.distribution { /*нужно нарисовать градиентом*/
  padding: 6px;
  border-radius: 15px;
  background-image:
  repeating-linear-gradient(135deg,
    #92cdff 0px, #92cdff 5px,
    #f8f7f4 5px, #f8f7f4 10px,
    #fe9e90 10px, #fe9e90 15px,
    #f8f7f4 15px, #f8f7f4 20px);
  /* background: url("../img/bg-post.svg") no-repeat; */
}

.distribution .background {
  padding: 28px 20px;
  border-radius: 10px;
  background-color: #f8f7f4;
}

.distribution p {
  font-weight: 400;
  color: #5a5a5a;
  padding: 0;
  margin: 0;
  margin-bottom: 36px;
}

.form-dist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 6px;
}

.form-dist input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.form-dist .button {
  padding: 0px 20px;
  margin-left: 10px;
}

.popup input,
.form-dist input,
.modal-feedback input,
.modal-feedback textarea {
  font: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
  height: 44px;
  width: 100%; /* fix ie11 */
  border-radius: 6px;
  background-color: #ffffff;
  border: 1px solid rgba(178,178,178,0.52);
  padding: 9px 15px;
  outline: none;
}

.popup-search input {
  width: 312px;
}

.form-feedback input {
  width: 268px;
}

.popup input:hover,
.form-dist input:hover,
.modal-feedback input:hover,
.modal-feedback textarea:hover {
  border: 2px solid rgba(154,154,154,0.52);
  padding: 8px 14px;
}

.popup input:focus,
.form-dist input:focus,
.modal-feedback input:focus,
.modal-feedback textarea:focus {
  border: 2px solid rgba(46,136,228,0.52);
  padding: 8px 14px;
}

.popup input::-webkit-input-placeholder,
.form-dist input::-webkit-input-placeholder,
.modal-feedback input::-webkit-input-placeholder,
.modal-feedback textarea::-webkit-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.popup input::-moz-placeholder,
.form-dist input::-moz-placeholder,
.modal-feedback input::-moz-placeholder,
.modal-feedback textarea::-moz-placeholder {
  font-weight: 400;
  color: #999999;
}

.popup input:-ms-input-placeholder,
.form-dist input:-ms-input-placeholder,
.modal-feedback input:-ms-input-placeholder,
.modal-feedback textarea:-ms-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.popup-wrapper {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  padding-top: 10px;
  z-index: 1;
}

.popup {
  border-radius: 6px;
  -webkit-box-shadow: 0px 20px 20px rgba(0,0,0,0.4);
          box-shadow: 0px 20px 20px rgba(0,0,0,0.4);
  background-color: #f7f7f3;
  padding: 20px 15px;
}

.popup .button{
  min-width: 100px;
  padding: 10px 17px;
}

.popup-login {
  position: relative;
  padding: 19px 18px;
  width: 277px;
}

.popup-login p {
  padding: 0;
  margin: 0;
  width: 100%;
  margin-bottom: 19px;
}

.login-help {
  position: absolute;
  right: 25px;
  bottom: 19px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  width: 120px;
}

.popup-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.popup-cart .opacity {
  color: #999999;
}

.popup-cart .total-cost {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  margin: 15px 0px;
  padding: 0;
}

.products {
  width: 540px;
  border-spacing: 2px 10px;
  border-bottom: 1px solid #c9c9c7;
}

.products .delete {
  width: 28px;
  padding: 0px 8px;
  cursor: pointer;
}

.products .delete::before,
.products .delete::after {
  content: "";
  position: absolute;
  width: 11px;
  height: 1px;
  background-color: #231F20;
}

.products .delete::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.products .delete::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.products .thumb {
  width: 50px;
  text-align: center;
}

.products img {
  border-radius: 50%;
}

.products .name {
  padding: 0px 15px;
}

.products .calc {
  width: 130px;
  text-align: center;
}

.products .price {
  width: 70px;
  text-align: center;
}

.map {
  position: relative;
  /* background: transparent url("../img/map-pin.jpg") no-repeat center center; */
}

.map img {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  height: 100%;
}

.map iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.map .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding-top: 62px;
  padding-bottom: 62px;
}

.contacts {
  position: relative;
  width: 300px;
  color: #323232;
  background-color: #fffffe;
  border-radius: 15px;
  padding: 28px 25px;
}

.contacts p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
}

.contacts .address,
.contacts .tel {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding-top: 2px;
  padding-bottom: 17px;
}

.contacts .tel {
  line-height: 22px;
  padding-top: 6px;
  padding-bottom: 2px;
}

.contacts .button {
  width: 100%;
  padding: 8px 20px;
  padding-bottom: 12px;
}

.border-footer {
  border-top: 1px solid rgba(255,255,255,0.3);
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 18px;
  font-weight: 400;
  padding-top: 18px;
  padding-bottom: 24px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 14px;
}

.footer-social li {
  margin-right: 12px;
}

.footer-social li:last-child {
  margin-right: 0px;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 38px;
  height: 38px;
  border: 3px solid rgba(225,225,225,0.5);
  border-radius: 50%;
}

.social-button svg {
  opacity: 0.8;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
  border: 3px solid rgba(225,225,225,0.7);
}

.social-button:hover svg,
.social-button:focus svg
.social-button:active svg {
  opacity: 1;
}

.footer-nav-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  margin-top: 5px;
}

.footer-nav-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 15px;
}

.footer-nav-item {
  padding-left: 20px;
  margin-top: 6px;
}

.footer-nav-item.heart{
  font-weight: 700;
  background: url("../img/heart.svg") no-repeat left center;
}

.footer-academy p {
  font-size: 12px;
  color: #fefefe;
  margin: 0;
  padding: 0;
  margin-top: 2px;
}

.modal {
  position: fixed;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
  background-color: #f8f6f4;
  border-radius: 10px;
  z-index: 5;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  z-index: 4;
}

.modal-hidden {
  display: none;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  font-size: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 2px;
  width: 22px;
  height: 2px;
  background-color: #231F20;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-feedback {
  top: 20%;
  left: 50%;
  width: 480px;
  margin-left: -240px;
  padding: 15px 25px;
  padding-bottom: 28px;
}

.form-feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feedback-text textarea {
  display: block;
  width: 100%;
  min-height: 156px;
  resize: none;
}

.modal-feedback p {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.form-feedback .button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 10px 17px;
}

.link-black {
  color: #323232;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

.link-black:hover,
.link-black:focus,
.link-black:active {
  color: #e84d37;
  border-bottom: 1px solid rgba(236,89,60,0.3);
}

.link-white {
  color: #ffffff;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

.link-white:hover,
.link-white:focus,
.link-white:active,
.footer-academy:hover .link-white,
.footer-academy:focus .link-white,
.footer-academy:active .link-white {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(249,172,159,0.3);
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  line-height: 18px;
  text-align: right;
  margin-top: 45px;
  margin-bottom: 30px;
}

.pagination-item,
.pagination-arrow {
  display: block;
  padding: 4px;
  margin-left: 3px;
  width: 26px;
  height: 26px;
  text-align: center;
}

.pagination-arrow {
  background-repeat: no-repeat;
  background-position: center center;
}

.pagination-arrow.left{
  background-image: url("../img/icon-right-small.svg");
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.pagination-arrow.right {
  background-image: url("../img/icon-right-small.svg");
}

.pagination-arrow.inactive {
  opacity: 0.2;
}

.pagination-item:hover,
.pagination-item:focus,
.pagination-item:active,
.pagination-arrow:focus  {
  background-color: rgba(225,225,225,0.2);
  border-radius: 13px;
}

.pagination-item.active {
  background-color: #ffffff;
  border-radius: 13px;
}

.pagination-item.active {
  color: #353535;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  max-width: 80%;
  margin-bottom: 6px;
}

.breadcrumbs-item {
  position: relative;

}

.breadcrumbs-item:nth-child(n+2) {
  padding-left: 20px;
}

.breadcrumbs-item:nth-child(n+2)::before {
  content: "»";
  position: absolute;
  left: 8px;
}

.page-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
}

.filters {
  width: 860px;
  margin-bottom: 34px;
}

.filters,
.filter-button {
  font-size: 16px;
  line-height: 18px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filter select::-ms-expand {
  display: none;
}

.filter-item {
  position: relative;
  background-color: rgba(225,255,255,0.2);
  border-radius: 18px;
  border: none;
  padding: 0;
  padding-bottom: 2px;
  margin: 28px 0px;
  margin-bottom: 10px;
}

.filter-item legend {
  position: absolute;
  font-size: 14px;
  line-height: 16px;
  top: -22px;
  padding: 0 15px;
  margin: 0;
}

.filter-sort {
  position: relative;
  width: 194px;
  height: 36px;
  border: none;
  border-radius: 17px;
  color: #ffffff;
  background: transparent;
  margin: 0;
  padding-left: 13px;
  padding-right: 25px;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.filter-sort + .select-arrow {
  position: absolute;
  width: 9px;
  height: 5px;
  top: 16px;
  right: 10px;
}

.filter-sort:hover,
.filter-sort:focus,
.filter-sort option {
  color: #323232;
}

.filter-sort:hover + .select-arrow path,
.filter-sort:focus + .select-arrow path{
  fill: #000000;
}

.filter-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filter-price input {
  display: none;
  margin: 0 10px;
  padding: 0 10px;
  width: 60px;
  height: 18px;
  border: none;
  text-align: center;
}

.range-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
  width: 220px;
  height: 36px;
}

.range-control-wrapper {
  position: relative;
  width: 100%;
  height: 4px;
}

.range-control .scale {
  position: absolute;
  height: 4px;
  width: 177px;
  background-color: rgba(255,255,255,0.5);
}

.range-control .bar {
  position: absolute;
  left: 10%;
  width: 40%;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 22px;
  height: 22px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 10px;
}

.range-toggle-max {
  left: 80px;
}

.fat-content,
.Fillers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 9px;
}

.radio-control,
.checkbox-control {
  position: relative;
  padding-left: 37px;
  padding-right: 12px;
  cursor: pointer;
}

.radio-control input + .radio-icon {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 0;
  left: 0;
  border: 3px solid rgba(225,225,225,0.7);
  border-radius: 18px;
}

.radio-icon::before {
  content: '';
  display: none;
  position: absolute;
  width: 8px;
  height: 8px;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -4px;
  background-color: rgba(225,225,225,0.7);
  border-radius: 18px;
}

.radio-control input:checked + .radio-icon::before {
  display: block;
}

.radio-control input:disabled + .radio-icon {
  border: 3px solid rgba(225,225,225,0.4);
}

.radio-control input:disabled + .radio-icon::before {
  background-color: rgba(225,225,225,0.4);
}

.fat-content-item:hover .radio-icon,
.radio-control input:focus + .radio-icon {
  border-color: rgba(225,225,225,1);
}

.fat-content-item:hover .radio-icon::before {
  background-color: rgba(225,225,225,1);
}

.checkbox-control input + .checkbox-icon {
  position: absolute;
  width: 23px;
  height: 23px;
  top: 0;
  left: 0;
  background: url("../img/checkbox-off.svg") no-repeat 0 0;
  opacity: 0.7;
}

.checkbox-control input:checked + .checkbox-icon {
  width: 27px;
  background: url("../img/checkbox-on.svg") no-repeat 0 0;
}

.Fillers-item:hover .checkbox-icon,
.checkbox-control input:focus + .checkbox-icon {
  opacity: 1;
}

.checkbox-control input:disabled + .checkbox-icon {
  opacity: 0.4;
}

.filter-button {
  height: 36px;
  color: #ffffff;
  border-radius: 18px;
  background-color: rgba(255,255,255,0);
  border: 2px solid #ffffff;
  padding: 7px 28px;
  margin: 28px 0px;
  margin-bottom: 10px;
}

.filter-button:focus,
.filter-button:hover {
  outline: none;
  color: #323232;
  background-color: #ffffff;
}

.filter-button:active {
  background-color: #ededed;
  border: 0;
  padding: 9px 30px;
  -webkit-box-shadow: inset 0px 2px 1px #696868;
          box-shadow: inset 0px 2px 1px #696868;
}