/* font-weight: bold=700 medium=500 regular=400 */
body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  background-color: #839d8f;
}

a {
  color: #ffffff;
  text-decoration: none;
  outline: none;
}

.main-nav ul {
  list-style: none;
}

.site-nav {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.site-nav a {
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.site-nav a:hover,
.site-nav a:focus {
  color: #333333;
  background-color: #f7f5f3;
  border: none;
  border-radius: 16px;
}

.site-nav a:active {
  box-shadow: inset 0px 2px 1px #696868;
  background-color: #ededed;
}

.site-nav-active a{
  color: #ffffff;
  background-color: #cf6f57;
  border: none;
  border-radius: 16px;
}

.dropdown-menu {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  border-radius: 5px;
  box-shadow: 0px 20px 20px rgba(0,0,0,0.4);
  background-color: #f7f7f3;
}

.dropdown-header {
  color: #323232;
  font-weight: 700;
}

.dropdown-item a {
  color: #323232;
  border: none;
  border-radius: 0px;
  background-color: inherit;
}

.dropdown-item:hover,
.dropdown-item a:hover,
.dropdown-item a:focus {
  background-color: #fbddd7;
  border-radius: 0px;
}

.dropdown-item:active,
.dropdown-item a:active {
  background-color: #f6b4a4;
  box-shadow: none;
}

/* .site-nav-active a, */
.dropdown-item.active,
.dropdown-item.active a{
  color: #ffffff;
  background-color: #cf6f57;
}

.nav-button {
  font: inherit;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-align: right;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border-width: 0px;
  border-radius: 16px;
  outline: none;
}

.nav-button:hover,
.nav-button:focus {
  color: #323232;
  background-color: #f7f7f3;
}

.popup {
  border-radius: 6px;
  box-shadow: 0px 20px 20px rgba(0,0,0,0.4);
  background-color: #f7f7f3;
}

.popup input {
  font: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
  border-radius: 6px;
  background-color: #ffffff;
  border: 1px solid rgba(178,178,178,0.52);
  outline: none;
}

.popup input:hover {
  border: 2px solid rgba(154,154,154,0.52);
}

.popup input:focus {
  border: 2px solid rgba(46,136,228,0.52);
}

.popup input::-webkit-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.popup input::-moz-placeholder {
  font-weight: 400;
  color: #999999;
}

.popup input:-ms-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.popup-cart {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.popup-cart .opacity {
  color: #999999;
}

.popup-cart .total-cost {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.link-black {
  color: #323232;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.link-black:hover,
.link-black:focus,
.link-black:active {
  color: #e84d37;
  border-bottom: 1px solid rgba(236, 89, 60, 0.3);
}

.link-white {
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.link-white:hover,
.link-white:focus,
.link-white:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}

.login-help a{
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.main-tel {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 700;
  text-align: right;
}

.main-tel .tel{
  font-size: 22px;
  line-height: 24px;
}
